/*
 you are an amazing human being, I hope you know that. You do everything to make sure I'm okay. I don't always tell you because I am more reserved and don't show as much intimacy.
*/
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    padding: 3px;
    background-color: black;
}

.not-small {
    background-color: gray;
    color: white;
    text-shadow: 2px 2px black;
    white-space: nowrap;
}

.small {
    background-color: gray;
    color: white;
    text-shadow: 2px 2px black;
    white-space:nowrap;
    letter-spacing: 1.5px;
    padding: 12px 12px;
}

.section {
    border-top: 10px solid black;
}

.content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content ul {
    text-align: left;
    list-style: inside;
    display: inline-block;
}
    
/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left: inherit;
    margin-right: auto;
    text-decoration: none;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.w3-wide {
    letter-spacing: 5px;
}
.w3-hover-opacity {
    cursor: pointer;
}