/* Create a Parallax Effect */
.bgimg-logo, .bgimg-houseparty, .bgimg-arcaderace, .bgimg-shooter, .bgimg-platformer, .bgimg-contact {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Logo. Full height */
.bgimg-logo {
    background-image: url('../images/Header%20Image.jpeg');
    min-height: 100%;
}

/* Project A */
.bgimg-houseparty {
    background-image: url("../images/House-Party/ProjectA.PNG");
    min-height: 450px;
}

/* Arcade Race */
.bgimg-arcaderace {
    background-image: url("../images/Arcade%20Car/Track.PNG");
    min-height: 450px;
}

/* First-Person Shooter */
.bgimg-shooter {
    background-image: url("../images/First-Person%20Shooter/Everything.PNG");
    min-height: 450px;
}

/* Platformer */
.bgimg-platformer {
    background-image: url("../images/Platformer/First%20CutScene.PNG");
    min-height: 450px;
}

/* Contact */
.bgimg-contact {
    background-image: url("../images/GameDesigner.webp");
    min-height: 450px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-logo, .bgimg-houseparty, .bgimg-arcaderace, .bgimg-shooter, .bgimg-platformer, .bgimg-contact {
        background-attachment: scroll;
        min-height: 400px;
    }
}