section > p {
    padding: 0px 25vw; 
}

@media screen and (max-width: 600px) {
    section > p {
        padding: 0px 15vw;
    }
}

ul {
    display: inline-block;
    text-align: left;
}

.column {
  text-align: center;
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image {
    max-width: 100%;
}

.imageRow {
    display: flex;
    align-items: center;
    background-color: rgb(49, 49, 49);
}

/* Clear floats after the columns */
.imageRow:after {
    content: "";
    display: table;
    clear: both;
}

/* Create two equal columns that floats next to each other */
.imageColumn {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.contentRow {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.contentRow:after {
    content: "";
    display: table;
    clear: both;
}

.contentColumn {
    float: left;
}

.contentLeft {
    width: 40%;
}

.contentRight {
    width: 60%;
}

@media screen and (max-width: 600px) {
    .image {
        max-width: calc(100% - 20px);
    }
    .imageRow, .contentRow {
        display: inherit;
        align-items: inherit;
    }
    .column, .imageColumn, .contentLeft, .contentRight {
        width: 100%;
    }
}